.MuiTablePagination-toolbar p {
  margin: 0 !important;
}

.MuiDataGrid-root .MuiDataGrid-cell {
  white-space: normal !important;
  word-wrap: break-word !important;
  text-align: left !important;
}

.priority-1 {
  background-color: #e5121a !important;
}

.priority-2 {
  background-color: #ec8448 !important;
}

.priority-3 {
  background-color: #27ea51 !important;
}

.priority-4 {
  background-color: #0088e7 !important;
}

.priority-5 {
  background-color: #a400b0 !important;
}
