.shell-box {
  --mono: consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace;

  border-radius: 0.4rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: var(--mono);
  padding: 0 0 1.8rem 1.6rem;
  position: relative;
  overflow: visible;

  code {
    color: #ed5393;
    font-family: inherit;
    line-height: 30px;
    overflow-x: hidden;
    position: absolute;
    top: 30px;
    width: calc(100% - 20px);
    text-align: left;

    &:hover {
      overflow-x: auto;
    }

    &::-webkit-scrollbar {
      height: 0.5em;
    }

    &::-webkit-scrollbar,
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      overflow: visible;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 20%);
    }

    > span.install-text-command {
      color: #fff;
    }

    > span.function {
      color: #d07912;
    }
  }

  .shell-box-top {
    display: inherit;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.8rem;

    span,
    button {
      align-items: center;
      display: inherit;
      font-size: 1.6rem;
      height: 23px;
      justify-content: center;
      width: 86px;
    }

    span {
      background-color: #d9e1e4;
      border-radius: 0 0.3rem 0.3rem;
      color: #2c3437;
      margin-left: 1.6rem;
    }

    button {
      background-color: #c5e5b4;
      border-radius: 0 0.3rem 0.3rem;
      border-width: 0;

      i {
        padding: 0;
      }
    }
  }
}
