@use "variables" as *;
@use "tailwindcss" as *;
@use "layout" as *;
@import "https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@100;200;300;400;500;600;700;800;900&display=swap";
@plugin "@tailwindcss/typography";

body {
  font-family: "Hanken Grotesk", sans-serif !important;
  background-color: $purple;
  z-index: -10 !important;
}

.main-heading {
  @apply text-center text-4xl mb-10 font-semibold md:text-5xl leading-[116%];
}

.bg-purple {
  background-color: $purple;
}

.bg-pink {
  background-color: $pink;
}

.bg-blue {
  background-color: $blue;
}

.text-pink {
  color: $pink;
}

.text-primary {
  color: $pink;
}

.text-grey {
  color: $grey;
}

.border-purple {
  border-color: $purple;
}

.highlight {
  background-color: #200d46 !important;
}

.gradient-border {
  border-radius: 80px;
  border: solid 2px transparent;
  background-image: linear-gradient($purple, $purple),
    linear-gradient(90deg, #ff1464, #ff14620b);
  background-origin: border-box;
  background-clip: content-box, border-box;
  cursor: pointer;

  &:hover {
    transform: scale(110%);
    transition-duration: 300ms;
  }
}

.bg-temurin-hero {
  @media (width >= 640px) {
    background-image: url("/images/temurin-hero-img.png");
  }
}

.bg-aqavit-hero {
  @media (width >= 640px) {
    background-image: url("/images/aqavit-hero-img.png");
  }
}

.underline {
  text-underline-offset: 1em;
}

.newscard-2 {
  border-radius: 1.5rem;
  background: var(--tones-white-5, rgba(255, 255, 255, 5%));
  backdrop-filter: blur(12px);
  position: relative;
  transition: 0.3s ease-in-out;
}

.newscard-2::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
  padding: 2px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}

.scroll-container::-webkit-scrollbar {
  width: 4px;

  background-color: #200d46;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ff1464;
  border-radius: 6px;
  height: 5px;
}

.adopt-demo-container {
  position: relative;
}

.adopt-demo {
  background: #1f272a;
  border-radius: 0.4rem;
  box-shadow: 5px 10px 50px rgba(0, 0, 0, 25%);
  color: #fff;
  height: 450px;
  max-width: 832px;
  width: 90vw;
  z-index: 2;
}
