.newscard-2 {
  border-radius: 24px;
  background: var(--tones-white-5, rgba(255, 255, 255, 0.05));
  backdrop-filter: blur(12px);
}
.newscard-2 {
  position: relative;
  transition: 0.3s ease-in-out;
}
.newscard-2::after {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  padding: 1px;
  background: linear-gradient(285deg, #30195edb 40.01%, #574974f7 63.36%);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  z-index: -1;
}
