//Here you can customize bootstrap
$primary: #14003c;
@import "~bootstrap/scss/bootstrap";

/* set a max-width for horizontal fluid layout and make it centered */
.container {
    margin-right: auto;
    margin-left: auto;
    max-width: 60rem;
}

body {
    --black4: #cbd4d9;
    --black9: #2c3437;
    --brand4: #EE1A6D;
    --bg: white;
    background-color: var(--bg);
    --textNormal: #222;
    --color-fill-banner: #9992;
    --color-text-primary: var(--black9);
    --color-text-accent: var(--color-brand-primary);
    .support-matrix th {
        background-color: #aeadad97;
    }
}
  
  body.dark {
    -webkit-font-smoothing: antialiased;
    --textNormal: rgba(255, 255, 255, 0.88);
    --bg: #090B15;
    --color-text-primary: var(--black4);
    --color-text-accent: var(--brand4);
    a:link {
        color: var(--brand4);
    }
    a:visited {
        color: var(--brand4);
    }
    a:hover {
        color: var(--brand4);
      }
    a:active {
        color: var(--brand4);
    }
    .nav-link .dropdown-item {
        color: var(--textNormal) !important;
    }
    .text-muted {
        color: var(--textNormal) !important;
    }
    .border-bottom {
        border-bottom: 1px solid #090B15 !important;
    }
    .border-top {
        border-top: 1px solid #090B15 !important;
    }
    .table {
        --bs-table-bg: #212529;
        --bs-table-striped-bg: #2c3034;
        --bs-table-striped-color: #fff;
        --bs-table-active-bg: #373b3e;
        --bs-table-active-color: #fff;
        --bs-table-hover-bg: #323539;
        --bs-table-hover-color: #fff;
        color: #fff;
        border-color: #373b3e;
    }
    // .dropdown-menu {
    //     background-color: var(--color-fill-banner);
    // }
}

body:not(.dark) .dark-mode-only,
.dark .light-mode-only {
  display: none;
}

.adopt-demo-container {
    position: relative;
}
  
.adopt-demo {
    background: #1f272a;
    border-radius: 0.4rem;
    box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    height: 450px;
    max-width: 832px;
    width: 90vw;
    z-index: 2;
}