// Here you can customize bootstrap
$primary: #14003c;
$secondary: #dadada;

@import "~bootstrap/scss/bootstrap";

/* set a max-width for horizontal fluid layout and make it centered */
.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 60rem;
}

body {
  --black4: #cbd4d9;
  --black9: #2c3437;
  --brand4: #ee1a6d;
  --page-pink: #fcf4f6;
  --bg: white;
  --text-normal: #222;
  --color-fill-banner: #9992;
  --color-text-primary: var(--black9);
  --color-text-accent: var(--color-brand-primary);

  background-color: var(--bg);

  .support-matrix th {
    background-color: #aeadad97;
  }
}

.halign-center {
  text-align: center;
}

.valign-middle {
  vertical-align: middle;
}

.bg-pink {
  background-color: var(--brand4) !important;
}

.table-secondary {
  --bs-table-bg: #333;
}

.home {
  background-repeat-y: no-repeat;
  background-position: 0 -150px;
  height: 40em;

  @media (max-width: 991px) {
    padding-top: 71px;
  }
}

body:not(.dark) .dark-mode-only,
.dark .light-mode-only {
  display: none;
}

.adopt-demo-container {
  position: relative;
}

.adopt-demo {
  background: #1f272a;
  border-radius: 0.4rem;
  box-shadow: 5px 10px 50px rgba(0, 0, 0, 25%);
  color: #fff;
  height: 450px;
  max-width: 832px;
  width: 90vw;
  z-index: 2;
}

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  code {
    border-radius: 3px;
  }

  & + .bs-callout {
    margin-top: -5px;
  }
}

@each $name,$color in (default,#777),(primary,#428bca),
  (success,#5cb85c),(danger,#d9534f),(warning,#f0ad4e),
  (info,#5bc0de), (bdc,#29527a) {
  .callout-#{$name} {
    border-left-color: $color;

    h4 {
      color: $color;
    }
  }
}

.w-20 {
  width: 20% !important;
}

.table-borderless td,
.table-borderless th {
  border: 0;
  padding: 0.1em 0.5rem;

  .table td,
  .table th,
  .table a {
    font-size: 0.9rem;
  }
}

.cc-color-override-1434350510.cc-window {
  background-color: var(--brand4) !important;
}

iframe {
  width: 100%;
  height: 25em;
}
