@import "../../styles/variables.scss";

.arrow-button {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.arrow-button-progress::after {
  content: "";
  top: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  height: 100%;
  border-radius: 50%;
  border: 3px #3e3355 solid;
}

.arrow-button-progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $pink;
  animation: spin 8s linear infinite;
}

.slide-in-left {
  animation: slideInLeft 0.5s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s ease-out forwards;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
